<template name="createRoom">
    <div class="list-block inset">
        <form method="post" class="list-block">
            <div class="item-content">
                <div class="item-media">
                    <i class="icon icon-form-name"></i>
                </div>
                <div class="item-inner">
                    <div class="item-title label">User name</div>
                    <div class="item-input">
                        <input type="text" placeholder="Peer name" name="peer_name">
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>