<template name="roomIndex">
	<div  class="page">
		<div class="page-content pull-to-refresh-content" data-ptr-distance="55">
			<div class="pull-to-refresh-layer">
		      <div class="preloader"></div>
		      <div class="pull-to-refresh-arrow"></div>
		    </div>
			<div class="list-block">
			  <ul>
			    <!-- Additional "swipeout" class on li -->
			    
			    <li class="swipeout">
			      <!-- Usual list element wrapped with "swipeout-content" -->
			      <div class="swipeout-content">
			        <!-- Your list element here -->
			        <div class="item-content">
			          <div class="item-media">...</div>
			          <div class="item-inner">...</div>
			        </div>
			      </div>
			      <!-- Swipeout actions left -->
			      
			      <!-- Swipeout actions right -->
			      <div class="swipeout-actions-right">
			        <!-- Swipeout actions links/buttons -->
			        <a href="#">Delete</a>
			      </div>
			    </li>
			    
			  </ul>
			</div>
		</div>
	</div>
</template>