<template name="roomShow">
    <div class="page toolbar-fixed">
        <div class="page-content messages-content">
            <div class="page toolbar-fixed">

                <!-- messages-content -->
                <div class="page-content messages-content">
                    <div class="messages">
                            
                            {{#each messages}}
                            {{#if is_mine user_id }}
                            <div class="message message-sent">
                                <div class="message-text">{{ post }}</div>
                            </div>
                            {{else }}
                            
                            <div class="message message-received">
                                <div class="message-name">{{ user.username }}</div>
                                <div class="message-text">{{ post }}</div>
                                
                            </div>
                            {{/if}}
                            {{/each}}
                            
                        </div>
                    <br>
                </div>
                <!-- messagebar -->
                <div class="toolbar messagebar">
                    <div class="toolbar-inner">
                        <textarea id="message" placeholder="Message"></textarea>
                        <a href="#" class="link send">Send</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

  <!--<div class="page">-->
    <!--<div class="page-content messages-content">-->
      <!--<div class="messages">-->
        <!--&lt;!&ndash; Date stamp &ndash;&gt;-->
        <!---->
        <!--&lt;!&ndash; Sent message (by default - green and on right side) &ndash;&gt;-->
        <!--<div class="message message-sent">-->
          <!--&lt;!&ndash; Bubble with text &ndash;&gt;-->
          <!--<div class="message-text">Hello</div>-->
        <!--</div>-->
   <!---->
        <!--&lt;!&ndash; Another sent message &ndash;&gt;-->
        <!--<div class="message message-sent">-->
          <!--&lt;!&ndash; Bubble with text &ndash;&gt;-->
          <!--<div class="message-text">How are you?</div>-->
        <!--</div>-->
   <!---->
        <!--&lt;!&ndash; Received message (by default - grey on left side) &ndash;&gt;-->
        <!--<div class="message message-received">-->
          <!--&lt;!&ndash; Sender name &ndash;&gt;-->
          <!--<div class="message-name">Kate</div>-->
   <!---->
          <!--&lt;!&ndash; Bubble with text &ndash;&gt;-->
          <!--<div class="message-text">I am fine, thanks</div>-->
   <!---->
          <!---->
        <!--</div>-->
   <!---->
        <!---->
   <!---->
        <!---->
      <!--</div>-->
    <!--</div>-->
  <!--</div>     -->
</template>
